.App {
  text-align: center;
}

h1 {
  color: blue;
}

input {
  margin: 10px;
}

button {
  margin: 10px;
}

#new_task_text {
  width: 400px;
}

#edit_text {
  width: 260px;
}

.list {
  max-width: 800px;
  margin: auto;
  background-color: blanchedalmond;
  border: 2px solid gray;
  border-radius: 20px;

  li {
    text-align: left;
  }
}