.App {
  text-align: center;
}

h1 {
  color: blue;
}

input {
  margin: 10px;
}

button {
  margin: 5px;
}

#new_task_text {
  width: 400px;
}

#edit_text {
  width: 260px;
}

.list {
  max-width: 800px;
  margin: auto;
  background-color: blanchedalmond;
  border: 2px solid gray;
  border-radius: 20px;

  li {
    text-align: left;
  }
}

#ageCounter {
  font-size: 2em;
  border: 2px solid blue;
  width: 300px;
  margin: auto;
  padding: 40px;
  background-color: blanchedalmond;

  button {
    font-size: inherit;
  }

  p {
    font-weight: bolder;
  }
}